default:
  suites:
    default:
      contexts:
        - FeatureContext: ~
        - ClassStructureFeatureContext:
          - "@Hexarchium\\CodeDomain\\UseCase\\CreateClassStructure\\UseCase"
      services: "Helpers\\Container::factory"
