default:
  suites:
    default:
      contexts:
        - FeatureContext: ~
        - ClassStructureFeatureContext:
          - "@Hexarchium\\CodeDomain\\UseCase\\CreateClassStructure\\UseCase"
          - "@Hexarchium\\CodeDomain\\Model\\ClassStructure\\Repository\\ClassStructureRepositoryInterface"
      services: "Helpers\\Container::factory"
